*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: system-ui !important;
}
body{
  width: 100%;
  height: 100%;
}
.main{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 2px 2px 4px #676565;
  padding: 9px;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 9;
  position: fixed;
}
.nav2 a img {
  width: 21px;
}
.nav2 a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.nav1 img {
  width: 202px;
}
.nav2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}
.nav3 button{
  padding: 10px 17px;
  font-size: 13px;
  border-radius: 4px;
  outline: none;
  border: none;
}
.btn1{
  background-color: #93288E;
  color: #fff;
}
.nav3 {
  display: flex;
  gap: 9px;
  align-items: center;
}
.btn2 {
  border: 1.5px solid #93288E !important;
  background-color: #fff;
  color: #93288E;
  font-weight: 600;
}
.nav1_svg{
  width: 20px;
  height: 20px;
  fill: #93288E;
  display: none;
}

.head_content {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 15px 51px;
  font-size: 12px;
}
.head_content svg {
  width: 25px;
  height: 25px;
}
.right_main_wrap_1 b {
  font-size: 13px;
  font-weight: 600;
}
.dropdown_item svg {
  width: 15px;
  height: 15px;
  
  fill: #0183ff;
}

.dropdown_item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #0183ff;
  padding: 10px;
  gap: 10px;
}
.right_box2_one p {
  font-size: 12px;
}
.right_content_box2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.right_box2_one {
  display: flex;
  align-items: center;
}
.left_content {
  padding-top: 7rem;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left_text_btn1{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* background: #fff; */
  border-bottom: 1px solid #e1e1e1;
  
}

.btn_img img {
  width: 100%;
  height: 100%;
}
.btn_img {
    /* width: 50px; */
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 3px 11px;
}
.main_payment_box {
  display: flex;
  gap: 10px;
  /* align-items: end; */
  flex-wrap: wrap-reverse;
}
.right_content_box1 {
  display: flex;
  padding: 15px 0px;
}
.right_first p {
  font-size: 11px;
  font-weight: 700;
  font-size: 10px;
}

.hr{
  color: rgb(240 240 240);
  opacity: 0.3;
}
.right_content {
  background: rgba(246, 249, 255, 255);
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgb(223 233 255);
  border: 2px solid rgb(234 241 255);
  /* padding: 10px; */
}
.right_content_box1{
  justify-content: center;
}
.right_second_img img {
  width: 88px;
}
.right_first p {
  font-size: 11px;
}
.right_first small {
  font-size: 10px;
  color: gray;
  font-weight: 500;
}
.right_content{
  background: rgba(246, 249, 255, 255);
  /* height: 281px; */
}
.right_content_box1 {
  display: flex;
}
.right_content h2 {
  font-size: 13px;
  padding: 10px;
}
#view{
  display: none;
}
.right_text_btn1 {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 26px;
  width: 467px;
}
.right_text_btn1 h2 {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 700;
}
.pay_inp input {
  /* width: 397px; */
  padding: 11px;
  border: 2px solid #d8d8d8;
  border-radius: 8px;
  outline: none;
  font-weight: 500;
  font-size: 15px;
  font-size: 13px;
}
.pay_inp select {
  /* width: 397px; */
  padding: 11px;
  border: 2px solid #d8d8d8;
  border-radius: 8px;
  outline: none;
  font-weight: 500;
  font-size: 15px;
  font-size: 13px;
}
.pay_imp_btn {
  display: flex;
  gap: 10px;
}
.pay_imp_btn input {
  width: 229px;
}

.pay_points1 span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(37, 156, 255, 255);
  color: #fff;
  font-weight: 700;
  font-size: 10px;
}
.pay_points1 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.pay_points1 p {
  font-size: 12px;
  font-family: system-ui;
  font-weight: 500;

}
.pay_points {
  display: flex;
  gap: 4px;
  flex-direction: column;
}
.text_pay p {
  font-size: 13px;
  font-family: system-ui;
  font-weight: 500;
}
.text_pay b{
  color: #93288E;
}
.text_pay span {
  width: 15px;
  height: 15px;
  background: #93288E;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.text_pay {
  display: flex;
  align-items: center;
  gap: 7px;
}
.right_text_btn1 input{
  display: block !important;
}
.pay_btns {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.left_main_content {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* gap: 13px; */
  background: rgba(244, 244, 244, 255);
  height: 500px;
  position: relative;

}
.main_content {
  display: flex;
  align-items: center;
  width: 873px;

  box-shadow: 2px 2px 5px #d6d6d6;
  border-radius: 7px;
  /* justify-content: center; */
  gap: 20px;
  padding: 20px;
}
.right_box2_two {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.right_box2_two p {
  font-size: 12px;
  font-weight: 500;
}
.right_box2_two b {
  color: #93288E;
  font-size: 15px;
}
.pay_inp {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.left_text_btn1 input{
   display: none;
}
.pay_proceed_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
  margin-top: 20px;
}
.proceed_text {
  display: flex;
  align-items: center;
}
.pay_proceed_btn button {
  width: 319px;
  padding: 14px;
  color: #fff;
  background: rgba(146, 39, 143, 255);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
}
.proceed_text img {
  width: 26px;
}
.proceed_text p {
  color: gray;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.left_text_btn1 label {
  display: flex;
  gap: 10px;
  padding: 22px 15px;
  width: 100%;
}

.label_text {
  font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.label_text p {
  font-size: 11px;
  width: 200px;
}
.label_text h3 {
  font-size: 14px;
}
.right_text_btn1{
  position: absolute;
  left: 324px;
  top: 3px;
}
#btn1,
#btn2,
#btn3{
  display: none;
}
#button1:checked + label + #btn1,
#button2:checked + label + #btn2,
#button3:checked + label + #btn3{
  display: flex;
  
}

#button1:checked + label,
#button2:checked + label,
#button3:checked + label{
  background-color: #fff;
}
.side{
  display: none;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 6px;
  background: rgba(146, 39, 143, 255);
}
#button1:checked + label + #side1,
#button2:checked + label + #side2,
#button3:checked + label + #side3{
  display: block;
}

.left_box1 {
  display: flex;
  height: 97px;
  width: 307px;
  flex-wrap: wrap;
  /* gap: 31px; */
  /* background: rgba(244, 244, 244, 255); */
  border-bottom: 1px solid #e0e0e0;
}
/* #button1:checked + label + #side1,
#button2:checked + label + #side2,
#button3:checked + label + #side3{
  display: block;
} */
.left_box1 input{
  display: none;
}
.left_box1 label {
  cursor: pointer;
  width: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 14px;
    transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
}
#btn3 .btn_img{
  gap: 12px;
  height: 39px;

}
#btn3 .btn_img img{
  width: auto;
}
#btn3 .pay_btns{
  flex-wrap: wrap;

}
.btn_img p {
  font-size: 14px;
}

#viewDiv{
  display: none;
}
#view:checked + label + #viewDiv{
     display: block;
}

.wrap_box{
  display: flex;
  flex-direction: column-reverse;
  transition:cubic-bezier(0.19, 1, 0.22, 1)1s;
}

.update_section .wrap_box{
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
  /* border-top: 1px solid #d8d8d8; */
}
.bill_wrap_item{
  /* padding: 10px; */
}
.update_bill_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}
.bill_items h3 {
  font-size: 14px;
}
.update_section hr{
  width: 92%;
  color: #e4e4e4;
  opacity: 0.2;
}
.bill_items p {
  font-size: 13px;
  font-weight: 500;

}
.bill_items h3 {
  font-size: 12px;
  font-weight: 500;
}
.update_section{
  background-color: #fff;
}
.bill_wrap_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:6px;
}
.bill_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
.update_bill_section label {
  background: #fff;
  display: flex;
  justify-content: space-between;
  width: 92%;
  padding: 10px 0px;

}
.update_bill_section label h3{
color: black;
}
.update_bill_section input{
  display: none;
}
.bill_items_box {
  padding: 7px 6px;   background: rgba(246, 249, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bill_items.green h3 {
  display: flex;
  align-items: center;
}

.bill_items h3 {
  font-size: 13px;
  font-weight: 500;
}


.green img{
  width: 16px;
}
.update_section .wrap_box b{
  color: #93288E;
}

.left_box1 label svg{
  display: none;

}
#hideviewDiv2{
  display: flex;
}
#view1:checked + label + #hideviewDiv2{
     display: none;
}
.update_section{
  margin-top: 20px;
}
.h2{
display: none;
font-family: serif !important;
}
.respo_nav {
  display: none;
}
@media (max-width: 600px) {
  .update_section{
    margin-top: 0px;
  }
  .bill_wrap_item{
    gap: 10px;
    padding: 10px 3px;
  }
  .update_bill_section label{
    border-bottom: 1px solid #dcdbdb;
  }
  .green{
    color: #2c9922;
  }
  .green img{
    width: 20px;
  }
  .right_text_btn1{
    width: 90vw;
    position: unset;
    padding: 14px;
    background-color: #fff;
  }
  .left_box1 {
    height: auto;
    width: auto;
  }
  .left_box1 label svg{
    width: 20px;
    display: block;

  }
  .label_text{
    position: relative;
    left: -33px;

  }
  .left_box1 label{
    justify-content: space-between;
  }
  .label_update{
    left: 4px;

  }
  .update_section .wrap_box h3{
    font-size: 17px;
  }
  .update_section .wrap_box b{
    font-size: 20px;
  }
  .main_payment_box{
    align-items: center;
    justify-content: center;
  }
  .svg1{
    width: 25px !important;
  }
.nav1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 8px;
}
.head_content{
  padding: 15px 15px;
}
.left_main_content{
  height: auto;
  box-shadow: 2px 2px 5px #d6d6d6;
  background-color: transparent;
}
.main_content{
  width: auto;
  box-shadow: unset;
}
.left_box1 input{
  width: 83vw;
}
.label_text h3 {
  font-size: 17px;
}
.pay_btns{
  gap:3px;
}
.main_drop_setion {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 18px;
}
.btn_img{
  height: 29px;
  padding: 3px 7px;
}
.text_pay span{
  width: 22px;
    height: 15.2px;
}
.label_text p {
  font-size: 14px;
  width: auto;
}
.left_box1 label{
  padding: 16px;
}
.nav2{
  display: none;
}
.nav3{
  display: none;
}

.nav1_svg{
  display: block;
}

.right_first small {
  font-size: 13px;
}
.right_first p {
  font-size: 15px;
}
.right_content h2 {
  font-size: 15px;
}
.dropdown_item p{
  font-weight: 600;

}
.update_bill_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.update_bill_section label h3{
  font-size: 22px;
}
.bill_items h3 {
  font-size: 17px;
}
.bill_items p {
  font-size: 16px;
}
.left_content{
  padding-top: 5rem;
}
.h2{
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-left: 21px;
  font-weight: 400;
  font-size: 25px;

}
.respo_nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  top: 0;
  gap: 21px;
  z-index: 9;
  background: #fff;
  justify-content: center;
}
.respo_nav .nav2{
  display: flex;
  flex-direction: column;
}
.respo_nav .nav2 a {
  font-size: 24px;
  width: 100%;
  padding-left: 140px;
}
.respo_nav .nav3{
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.respo_nav svg{
  width: 26px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;

}
}

