*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
}
.main{
  width: 100%;
  height: 100%;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 2px 2px 4px #676565;
  padding: 9px;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 9;
}
.nav2 a img {
  width: 21px;
}
.nav2 a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.nav1 img {
  width: 202px;
}
.nav2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
}
.nav3 button{
  padding: 10px 17px;
  font-size: 13px;
  border-radius: 4px;
  outline: none;
  border: none;
}
.btn1{
  background-color: #93288E;
  color: #fff;
}
.nav3 {
  display: flex;
  gap: 9px;
  align-items: center;
}
.btn2 {
  border: 1.5px solid #93288E !important;
  background-color: #fff;
  color: #93288E;
  font-weight: 600;
}
.nav1_svg{
  width: 20px;
  height: 20px;
  fill: #93288E;
  display: none;
}

.head_content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.head_content svg {
  width: 25px;
  height: 25px;
}
.left_content {
  padding-top: 7rem;
}
.left_text_btn1{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* background: #fff; */
  border-bottom: 1px solid #e1e1e1;
  
}
.btn_img img {
  width: 100%;
  height: 100%;
}
.btn_img {
    /* width: 50px; */
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 3px 11px;
}
.right_text_btn1 {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 26px;
  width: 467px;
}
.right_text_btn1 h2 {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 700;
}
.pay_inp input {
  /* width: 397px; */
  padding: 11px;
  border: 2px solid #d8d8d8;
  border-radius: 8px;
  outline: none;
  font-weight: 500;
  font-size: 15px;
  font-size: 13px;
}
.pay_inp select {
  /* width: 397px; */
  padding: 11px;
  border: 2px solid #d8d8d8;
  border-radius: 8px;
  outline: none;
  font-weight: 500;
  font-size: 15px;
  font-size: 13px;
}
.pay_imp_btn {
  display: flex;
  gap: 10px;
}
.pay_imp_btn input {
  width: 229px;
}

.pay_points1 span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(37, 156, 255, 255);
  color: #fff;
  font-weight: 700;
  font-size: 10px;
}
.pay_points1 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.pay_points1 p {
  font-size: 11px;
  font-family: system-ui;
  font-weight: 500;

}
.pay_points {
  display: flex;
  gap: 4px;
  flex-direction: column;
}
.text_pay p {
  font-size: 13px;
  font-family: system-ui;
  font-weight: 500;
}
.text_pay b{
  color: #93288E;
}
.text_pay span {
  width: 15px;
  height: 15px;
  background: #93288E;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.text_pay {
  display: flex;
  align-items: center;
  gap: 7px;
}
.right_text_btn1 input{
  display: block !important;
}
.pay_btns {
  display: flex;
  align-items: center;
  gap: 10px;
}
.left_main_content {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* gap: 13px; */
  background: rgba(244, 244, 244, 255);
  height: 500px;
  position: relative;

}
.main_content {
  display: flex;
  align-items: center;
  width: 873px;

  box-shadow: 2px 2px 5px #d6d6d6;
  border-radius: 7px;
  /* justify-content: center; */
  gap: 20px;
  padding: 20px;
}
.pay_inp {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.left_text_btn1 input{
   display: none;
}
.pay_proceed_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
  margin-top: 20px;
}
.proceed_text {
  display: flex;
  align-items: center;
}
.pay_proceed_btn button {
  width: 319px;
  padding: 14px;
  color: #fff;
  background: rgba(146, 39, 143, 255);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
}
.proceed_text img {
  width: 26px;
}
.proceed_text p {
  color: gray;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.left_text_btn1 label {
  display: flex;
  gap: 10px;
  padding: 22px 15px;
  width: 100%;
}

.label_text {
  font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.label_text p {
  font-size: 11px;
  width: 200px;
}
.label_text h3 {
  font-size: 14px;
}
#btn1,
#btn2,
#btn3{
  display: none;
}
#button1:checked + label + #btn1,
#button2:checked + label + #btn2,
#button3:checked + label + #btn3{
  display: flex;
    position: absolute;
    left: 324px;
    top: 3px;
}

#button1:checked + label,
#button2:checked + label,
#button3:checked + label{
  background-color: #fff;
}
.side{
  display: none;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 6px;
  background: rgba(146, 39, 143, 255);
}
#button1:checked + label + #side1,
#button2:checked + label + #side2,
#button3:checked + label + #side3{
  display: block;
}

.left_box1 {
  display: flex;
  height: 97px;
  width: 307px;
  /* gap: 31px; */
  /* background: rgba(244, 244, 244, 255); */
  border-bottom: 1px solid #e0e0e0;
}
/* #button1:checked + label + #side1,
#button2:checked + label + #side2,
#button3:checked + label + #side3{
  display: block;
} */
.left_box1 input{
  display: none;
}
.left_box1 label {
  cursor: pointer;
  width: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 14px;
    transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
}
#btn3 .btn_img{
  gap: 12px;
  height: 39px;

}
#btn3 .btn_img img{
  width: auto;
}
#btn3 .pay_btns{
  flex-wrap: wrap;

}
.btn_img p {
  font-size: 14px;
}

@media (max-width: 600px) {
.nav1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 8px;
}
.nav2{
  display: none;
}
.nav3{
  display: none;
}

.nav1_svg{
  display: block;
}
}